absl-py==0.8.1
altgraph==0.16.1
astor==0.8.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
conda==4.8.2
conda-package-handling==1.6.0
conda-tree==0.1.0
cryptography==2.8
cycler==0.10.0
decorator==4.4.1
docopt==0.6.2
ffmpeg==1.4
gast==0.2.2
google-pasta==0.1.7
grpcio==1.24.1
guided-filter-pytorch==3.7.5
h5py==2.10.0
idna==2.9
imageio==2.6.1
jsonpatch==1.25
jsonpointer==2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lmdb==0.98
Markdown==3.1.1
matplotlib==3.1.1
networkx==2.4
numexpr==2.7.0
numpy==1.17.3
opencv-python==4.1.1.26
opt-einsum==3.1.0
pandas==0.25.2
Pillow==6.2.0
protobuf==3.10.0
pycocotools==2.0.0
pycosat==0.6.3
pycparser==2.19
PyInstaller==3.5
pyOpenSSL==19.1.0
pyparsing==2.4.2
PySocks==1.7.1
python-dateutil==2.8.0
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==18.1.1
requests==2.23.0
ruamel-yaml==0.15.80
scikit-image==0.15.0
scipy==1.2.1
six==1.14.0
svgwrite==1.3.1
tables==3.6.0
tensorboard==2.0.0
tensorboardX==1.9
tensorflow-estimator==2.0.0
tensorflow-gpu==2.0.0
termcolor==1.1.0
torch==1.1.0
torchfile==0.1.0
torchvision==0.2.2
tornado==6.0.3
tqdm==4.43.0
Tree==0.2.4
urllib3==1.25.7
visdom==0.1.8.9
websocket-client==0.57.0
Werkzeug==0.16.0
wrapt==1.11.2
yacs==0.1.6
